<form [formGroup]=myForm>

  <label>A:</label><input type=number formControlName=a><br>
  <label>B:</label><input type=number formControlName=b><br>

  <input id=add type=radio value=add formControlName=operation>
  <label for=add>Addition</label>

  <input id=sub type=radio value=sub formControlName=operation>
  <label for=sub>Subtraction</label>

  <input id=mult type=radio value=mult formControlName=operation>
  <label for=mult>Multiplication</label>

  <input id=div type=radio value=div formControlName=operation>
  <label for=div>Division</label>

  <br>

  <button (click)=doCalculate()>Calculate</button>

</form>

Result: {{result}}